<header class="site-header">
    <div class="container header-inner">
        <a href="index.html" class="logo">
            <span class="logo-icon">A</span>uraCraft
        </a>
        
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm vật liệu, sản phẩm...">
            <button class="btn-search">Tìm</button>
        </div>

        <nav class="nav-menu">
            <a href="products.html">Sản phẩm</a>
            <a href="customizer.html">Thiết kế</a>
            <a href="buyer-requests.html">Báo Giá</a>
            <a href="login.html" class="icon-btn"><i class="fa-regular fa-user"></i></a>
            <a href="cart.html" class="icon-btn"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
    </div>
</header>